.demo-loadmore-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}

.demo-loadmore-list th {
  text-decoration: underline;
}

.demo-loadmore-list th,
td {
  padding: 5px;
  text-align: left;
}

thead {
  background-color: #333;
  color: #fdfdfd;
  width: 460px;
}

thead tr {
  display: block;
  position: relative;
}

tbody {
  display: block;
  overflow: auto;
}

tbody tr:nth-child(even) {
  background-color: #ddd;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 1rem;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
}

#header {
  text-decoration: none;
  position: fixed;
  padding-left: 1000px;
}



