.login-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(166, 103, 224);
  padding: 30px;
  width: 400px;
}

.login-page #btn-login {
  margin-right: 20px;
}

@media screen and (max-width: 320px) {
  .login-page {
    width: 220px;
    height: 400px;
    padding-left: 10px;
  }
  .login-page h2 {
    font-size: 15px;
  }
  .login-page Form {
    width: 150px;
    padding-left: 10px;
  }
  .login-page #btn-login {
    margin-bottom: 10px;
  }
}
