@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");

.user-page {
  font-family: "Montserrat", sans-serif;
  padding-left: 100px;
  position: fixed;
  z-index: 2;
  letter-spacing: 4px;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  width: 100%;
}

.profile {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  border-radius: 8px;
  background-color: #eee;
  position: relative;
  padding: 1rem;
  width: 800px;
}

.profile h1 {
  color: #7ed386;
  margin-top: 40px;
  margin-bottom: 35px;
}

.profile h2 {
  color: #777777;
  width: 50%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 2px;
}

.profile p {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #3fb6a8, rgba(#7ed386, 0.5)) 1 0%;
  border-top: 0;
  width: 50%;
  padding: 7px 0;
  color: #070707;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .profile p {
    width: 70%;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    padding: 1rem;
    width: 200px;
  }
  .profile h1 {
    font-size: 20px;
  }

  .profile h2 {
    font-size: 15px;
  }

  .profile p {
    font-size: 10px;
    width: 170px;
  }
  .profile button {
    font-size: 10px;
    width: 160px;
    margin-bottom: 10px;
  }
  .nav-profile ul li {
    font-size: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
  }
  .nav-profile ul li button {
    font-size: 10px;
    padding-right: 5px;
  }
}
